<div class="w3-top">
<div class="w3-bar w3-black w3-card">
<div class="w3-hover w3-hide-small">
  <div class="w3-display-center">
        <%= link_to 'Home', {controller: 'welcome', action: 'index'}, class: "w3-bar-item w3-button w3-padding-large w3-hide-small" %>
        <%= link_to 'Nuovo Articolo', {controller: 'articles', action: 'new'}, class:"w3-bar-item w3-button w3-padding-large w3-hide-small" %>
    </div>
    <div class="w3-display-right">
    <h2>Blog del dottor X</h2>
  </div>
  </div>
</div>
</div>
